.home {
    margin: 0;
    padding: 0;
    // width: 100vw;
    height: 100vh;
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    &__title {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    &__text {
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @media screen and(min-width: 768px) {
            padding-top: 5%;
        }
    
        
    }
    &__button {
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
        margin-top: 8%;
        border-radius: 15px;
        &--link {
            text-decoration: none;
            color:blueviolet;   
        }
        @media screen and (min-width:768px) {
            top: 32%;
        }
    }
}

.team-name {
    text-shadow: 2px 2px 4px lightblue;
}